textarea {
  font-family: monospace;
  font-size: 0.8rem;
  border-radius: 2px;
}

.customiser, .input-box {
  width: 30rem;
  padding: 0.2rem;
}

.flex-apart {
  display: flex;
  justify-content: space-between
}


textarea {
  width: 100%;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.full-btn {
  width: 100%;
  margin: 0.8rem 0 0.8rem 0;
}

.half-btn {
  width: 14rem;
}

table {
  font-size: 0.5rem;
}

td {
  width: 0.7rem;
  height: 0.7rem;
}

.display-options label {
  margin: 0.2rem 2rem 0.4rem 0;
}

.display-options input {
  margin: 0.2rem 0.7rem 0.4rem  0;
}

.custom-select input, select {
  margin: 0.2rem 2rem 0.4rem 0;
}

.grid {
  margin-top: 2rem;
}

.grid-control button{
  margin: 0 0.8rem 0.8rem 0;
}

.counter {
  font-size: 1.2rem;
}

.App {
  margin: 0 auto 0 auto;
  max-width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
}